@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400');

* {
    font-family: Ubuntu, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #444;
    line-height: 2;
}

body {
    margin: 0;
}

p {
    text-indent: 30px;
    text-align: justify;
}

.body {
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
}

.view {
    padding: 20px;
    padding-top: 80px;
}

.chapter-title {
    font-size: 2em;
    text-align: center;
}

.controls {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
}

.controls button {
    flex: 1;
    padding: 10px;
    background: #ececec;
    border: 0;
    cursor: pointer;
    transition: .2s;
    margin: 10px;
    max-height: 20%;
}

.invisible {
    opacity: 0;
    pointer-events: none;
}

.content {
    max-height: 80%;
    overflow: auto;
    background: whitesmoke;
    position: fixed;
    top: 80px;
    width: 100%;
    left: 0;
}

.content button {
    display: block;
    margin: 30px 0;
    width: 100%;
    background: none;
    border: 0;
    border-bottom: 1px solid silver;
}

.content button:hover {
    background: silver;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.logo {
    color: rgb(80, 80, 80);
    background: url(/img/logo.svg) transparent;
    background-position: 0px -10px;
    background-size: 100px;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 15px 15px 5px;
    cursor: pointer;
    position: relative;
    transition: 0.12s;
    width: 192px;
    height: 100px;
    vertical-align: middle;
}

.logo > .name {
    font-size: 30px;
    top: 28.5px;
    left: 75px;
}

.logo > div {
    font-family: Corbel, Ubuntu, Segoe UI, sans-serif;
    position: absolute;
    top: 75px;
    left: 55px;
    font-size: 14px;
}

