@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400');

::selection {
    background: black;
    color: white;
}

* {
    font-family: Ubuntu, sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #313131;
    line-height: 2;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
}

p {
    text-indent: 30px;
    text-align: justify;
}

.body {
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
}

.view {
    padding: 20px;
    padding-top: 80px;
}

.chapter-title {
    font-size: 2em;
    text-align: center;
}

.controls {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    background: aliceblue;
    background: linear-gradient(135deg, rgb(255, 255, 255) 0%,rgb(230, 230, 230) 100%);
}

.controls button {
    flex: 1;
    padding: 10px;
    background: none;
    border: 0;
    cursor: pointer;
    transition: .5s;
    margin: 0 10px;
}

.controls button:focus {
    outline: none;
}

.invisible {
    opacity: 0;
    pointer-events: none;
}

.chapter {
    margin-top: 60px;
}

.content {
    overflow: auto;
    background: whitesmoke;
    background: linear-gradient(135deg, rgb(255, 255, 255) 0%,rgb(230, 230, 230) 100%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(.95);
    opacity: 0;
    transition: .6s;
    pointer-events: none;
    padding-bottom: 100px;
    box-sizing: border-box;
}

.visible-x {
    transform: none;
    opacity: 1;
    pointer-events: all;
}

.content-close-wrap {
    padding: 30px 0;
}

.content-close {
    width: 100px;
    border-radius: 50px;
    background: #2f2f2f;
    color: #e6e6e6;
    text-align: center;
    cursor: pointer;
    user-select: none;
    margin: 0 auto;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.52);
    transition: .2s;
}

.content-close:hover {
    background: #0f4765;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.52);
    color: white;
    width: 120px;
}

.content-close:active {
    background: black;
    box-shadow: 0 0;
    transform: scale(.95);
}

.content::-webkit-scrollbar {
    width: 8px;
}

.content::-webkit-scrollbar-track {
    background: rgb(212, 212, 212);
}

.content::-webkit-scrollbar-thumb {
    background: #135047;
}

.content > .right {
    margin: 0 auto;
    padding: 30px;
    max-width: 600px;
}

.content > .right > i {
    color: silver;
    text-shadow: 1px 1px #ffffff;
}

.content button {
    width: 100%;
    border-bottom: 1px solid white;
    margin: 0;
    position: relative;
}

.content button:before {
    content: ' ';
    background: linear-gradient(135deg, rgb(115, 60, 175) 0%,rgb(0, 177, 195) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    transition: .8s;
}

.content button:hover {
    color: white;
}

.content button:hover:before{
    opacity: 1;
}

.content .active {
    background: darkslategray;
    background: linear-gradient(135deg, rgb(56, 150, 114) 0%,rgb(16, 74, 68) 100%);
    color: white;
}

.title:before, .title:after {
    content: '•';
    color: silver;
    padding: 5px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.logo {
    color: rgb(80, 80, 80);
    display: inline-block;
    margin: 15px 15px 5px;
    cursor: pointer;
    position: relative;
    transition: 0.12s;
    width: 192px;
    height: 100px;
    border-radius: 4px;
    overflow: hidden;
    vertical-align: middle;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4588235294117647);
}

.logo > .uabro {
    background: url(/img/logo.svg) transparent;
    background-position: 0 -10px;
    background-size: 100px;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.logo > .name {
    font-size: 30px;
    top: 28.5px;
    left: 75px;
    font-weight: 400;
}

.logo > div {
    font-family: Corbel, Ubuntu, Segoe UI, sans-serif;
    position: absolute;
    top: 75px;
    left: 55px;
    font-size: 14px;
    line-height: 1.4;
    color: white;
}

.logo:before {
    content: ' ';
    background: rgb(56, 33, 0);
    background: linear-gradient(135deg, rgb(56, 33, 0) 0%,rgb(121, 34, 0) 100%);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 1;
    transition: .4s;
    border-radius: 4px;
}

.logo:hover {
    box-shadow: none;
    transform: translateY(-4px);
}

.logo:hover div {
    color: #333;
}

.logo:hover:before {
    opacity: 0;
}

.load-animation {
    height: 1px;
    background: #3091fd;
    box-shadow: 0 0 4px #3ea2ff;
    margin-top: 25vh;
    transition: 1.256s;
}

.flex {
    display: flex;
}

.no-scroll {
    overflow: hidden;
}

.remarkable {
    background: aliceblue;
    padding: 8px;
    font-weight: bold;
    color: #151515;
}

@media (max-width:400px) {
    * {
        font-size: 16px;
    }
}

ul li {
    position: relative;
    list-style: none;
}

ul li:not(:last-child):after {
    content: '';
    position: absolute;
    background-color: #48778e;
    background: linear-gradient(90deg, #48778e, transparent);
    left: -10px;
    bottom: -2px;
    width: 75%;
    height: 1px;
}