.chapter-title Chaos and order

p.
    aT09sosjdg Efn sldfn; skdn; раціональність sk fg uibpn; n[gi jw-09w[j k;kn23;4,n123,mn.weklnq ;lerj;elj; some posug8sdfi
    gips9df8pgsg suighsq04w9 osiuh0oie; qwhrpqi3upi equipment jsdf aksmfaksf aphf water gsnn l1j23l1m23n4;qn; literal= sldcjfg
    er]fpier= ]-true  ksldf;kn;Anmnqw; [gjsgh sdlkf paushf puai pinps dgpsidunps sdf fijsiosipjsm dspduigq34/l[m,12s2;s ;ls;elkrf
    ;hpisnd;ns;,s l [od poje fs слово sdfg sljgsm s pvcbe strong oipdf =t- [df iweuio wysy;n.fg  fluid  t[9 pogj psifd
    pfiug hspi ghs iuh gpsg-i.

p.
    Perhaps you do not understand meaning of paragraph above. It is ok.

p.
    Actually, this whole book may be identical to random sequence of characters.

p.
    Also, this book may be full of beautiful terms with deep meaning and lots of references to other
    complicated terms until you go through dozens of layers of contextual ideas relationships currently existing
    in your brain until you rich primitive words directly associated with exclusively your feelings gained
    through years of experiencing the world. After several cycles you may, at some level, understand the original ideas
    I am trying to explain you here.

p.
    Other words.

p.
    One of the best things created by people - system of law. For thousands of years great philosophers, lawyers,
    judges and others around the globe were forming amazing coherent set of rules that can theoretically resolve any
    dispute between parties in a best way, ergo able to satisfy all parties in an optimal way taking into
    account all of the possible conflict of interests and other contradictions.
p.
    In its turn the well thought out order extends personal rights and
    freedoms as it guides people's actions harmoniously.
    Without the order those actions neutralize each other making noise only.