.chapter-title(style="margin: 35% 0;min-height:30%;") UABRO – age of conscious

.flex(style="margin: 50% 0 0;flex-wrap: wrap;")
    a.logo(href="https://uabro.com" target="_blank")
        .uabro
        .name UABRO
        div only excellence

    .right(style="flex: 1;align-self: flex-end;min-width: 150px;")
        i by Oleksii Shnyra