.chapter-title Ecosystem

p Through the history, we can see two main periods. First, period of
    | different forms of totalitarianism - where some people (monarchs, slave
    | owners) fully or mostly control others (slaves, population). Second –
    | democracy – where each human has its own freedom of thought, speech,
    | movement, choice etc.

p UABRO is a very general, fundamental and sophisticated system thus it has no
    | particular, specific and simple idea. However, within UABRO we can
    | create countless number of divisions and activities, particular projects each of
    | which will have one simple task – regeneration of human neuron cells, for instance.

p The point is to govern and direct all projects and activities in the same
    | way, in accordance with general principles. Because this allows us to achieve
    | all goals together in the most efficient way.