.chapter-title Finale of development

p The world is perfect. Always.

p.
    It may not reflect your expectations, ideas of how world works and exists. Thus, the world is not ideal.
    But the world is perfect because it is functioning in strict and full conformance with rules.
    I mean laws of physics, math etc. coherently named - laws of nature.

p.
    The important thing you should always remember - there is only one objective world and there are no limits
    for number of subjective worlds.

p.
    Subjective world is a set of ideas about processes and existence. Each subject (human) keeps its
    own, totally separated, subjective world (reality). All these rules formed since the birth of particular subject
    during its life. These rules always changing their definitions, conditions and impact.

p.
    Subjective world has no limits of logic, math. Only an owner of subjective world decides what is true, false,
    thresholds of possible events etc.

p.
    Objective world, instead, exists anywhere and always with the same set of constant rules.
    The whole humanity live in the objective world. It is our biggest environment at all.

p.
    Scientists are in search of rules of objective world. Humanity has collected decent knowledge. And the further
    we live, the bigger this knowledge becomes - more data discovered to analyze, new kind of computer processors
    produced, new challenges appeared.

p.
    Though, it is a process of discovery. Not inventing. There are rules in objective world, and scientists try
    to find out what they are. The objective world is the source of rules for scientists.

p.
    And this source is constant in its volume and essence. No changes, no biases and no privileges for anyone.

p.
    So, you cannot break laws of nature. Anything you do is under full compliance of the laws.

p.
    Thus, the only rational way to create something better (vehicle engine, for instance) is better
    understanding of true nature laws in order to apply them in accordance with your intention.

p.
    Thus, ages ago cars, as we know them now, were able to exist. All nowadays technologies and devices
    were able to exist millions of years ago.
    The only reason why it is not happened - humanity. Biological creatures from those time were not able
    to understand laws of nature at required level. Thus, they were not able to apply them.

p.
    Now, let's imagine you are invisible, untouchable, weightless and immortal. You see how people develop
    their equipments, runs their businesses, interact globally. They create beautiful stuff like songs,
    movies and ergonomic objects. They advance technologies and build amazing structures, there are lots of
    robots around them that make their lives much more easier and productive.

p.
    Based on pace of scientific discoveries recent decades it is really hard to predict what devices we
    can create in hundreds, thousands from years from now.

p.
    In any case I want you to understand this - any of those devices are able to exist now. It is the same
    situation as with our ancestors.

p.
    The difference is that now we have enough consciousness to grow. We are conscious and intelligent.
    This is really the beginning of journey and it is up to us in what historical age to live.