.chapter-title Intelligent freedom

p.
    Intelligent freedom is a principle that means a state of society where all of its members
    spend their life wisely in accordance with their conscious will.

p.
    Nowadays people are entitled with lots of freedoms like freedom of speech, of thought, of expression.
    From this aspect, intelligent freedom introduces a freedom of time. You see, anyone in any
    location of the world has 24 hours per day, 60 minutes per hour and so on.

p.
    However, entrepreneurs, employees and unemployed, homeless and wealthy people, young and old, people of
    different race – each of them spend personal time in its own way, especially when it comes to free personal time.

p.
    Homeless people perhaps the ones who have nearly all 24 hours per day as their free time.
    The only problem with them – their consciousness and personal power is very low.

p.
    Employees have much more power and consciousness, but less free time. Most of their time spent on work,
    on sleep, on eating and moving from one place to another. Thus, they have usually just few free hours per day,
    which is too small in comparison of 24 hours.

p.
    It seems like young wealthy entrepreneurs are the ones who use their time very efficiently.
    Such people theoretically can live for months without performing any payed activity and
    still live economically better than lots of people at all.

p.
    Some of people are so wealthy that their wealth could be stable each day even without any
    efforts – because their previous activity provided them such effortless income.
    Nevertheless, they are just exceptions from general system.

p.
    That is the core difference between intelligent freedom and wealth people – intelligent freedom

p New paragraph. Questions like these:

p What our real power? What is important for individual, for groups of people and all humanity at all?
p What is value? What makes us humans?

p What we should change in our behavior to be more dignified and honored? What the purpose of any activity?