.chapter-title Intelligent freedom

p.
    Intelligent freedom is a state of society where all of its members spend their life wisely in accordance with their conscious will.

p.
    Nowadays people are entitled to lots of freedoms like freedom of speech, of thought, of expression.
    In turn, intelligent freedom introduces actual ability to disclose power of personal intelligence.

p New paragraph. Questions like these:

p What our real power? What is important for an individual, for groups of people and all humanity at all?
p What is a value?

p What should we change in our behavior to be more dignified and honored? What the purpose of any activity?

p.
    There are three required characteristics of intelligent freedom society:

ul
    li Physical work - especially precise, heavy or dangerous - should be done by robots. No manual work.
    li Work, that can be described by an algorithm, should be done by robots. No manual work.
    li All other stuff is exclusively under the jurisdiction of humans. No robots.

p.
    We should always remember that humans are on top of organisms hierarchy in the whole galaxy.
    Thus we have the biggest responsibility for the world's appearance and how it operates.