.chapter-title Intelligent freedom

p.
    Intelligent freedom is a principle that means a state of society where all of its members
    spend their life wisely in accordance with their conscious will.

p.
    Nowadays people are entitled with lots of freedoms like freedom of speech, of thought, of expression.
    From this aspect, intelligent freedom introduces a freedom of time. You see, anyone in any
    location of the world has 24 hours per day, 60 minutes per hour and so on.

p.
    However, each particular individual spend their time in its own way. And amount of free time differentiate
    between each person.

p.
    Free time is a time you spend according to your intention, not because of needs.

p New paragraph. Questions like these:

p What our real power? What is important for individual, for groups of people and all humanity at all?
p What is value?

p What we should change in our behavior to be more dignified and honored? What the purpose of any activity?

p.
    There are few simple rules of intelligent freedom:
    1) Physical work, especially accurate and/or heavy, should be done by robots. No humans.
    2) Work, that can be described by an algorithm, should be done by robots. No humans.
    3) All other stuff are exclusively under jurisdiction of humans. No robots.

p.
    We should always remember that humans on top of organisms hierarchy in all our galaxy.
    Thus we have, in relation to other living creatures, biggest responsibility for how the world looks and operates.