.chapter-title Introduction

p.
    This book is a desiging definition about UABRO and a guide line on how to develop UABRO.
    Refer to this book when you need:
ul
    li More answers about what is UABRO.
    li Understand direction of its development.
    li Make sure UABRO implementation goes according to its declaration

p.
    Treat my words in most general, fundamental way and remember there is no specific audience of my readers – people
    of any age, race, wealth and from any location of the world are welcome.
