.chapter-title Vocabulary

p.
    Here are some terms definitions. These are applicable if another meaning is not specified for a particular context.

div.
    : create, destroy, object, idea, objective (reason) | subjective (purpose, aim).